.case-template {
	&__container {
		& > div {
			margin: 70px 0 0 0;
			@include media-max(575) {
				margin: 40px 0 0 0;
			}
		}
	}
	&__nav {
		height: fit-content;
		max-width: 250px;
		width: 100%;
		border-right: 1px solid #67C1E8;
		padding-right: 20px;
		@include media-max(991) {
			max-width: none;
			border: none;
		}
		li {
			@include media-max(991) {
				display: none;
			}
			a {
				font-weight: 700;
				font-size: 20px;
				line-height: 120%;
				letter-spacing: 1.25px;
				text-transform: uppercase;
				background: radial-gradient(50% 90241.69% at 50% 100%, rgba(103, 193, 232, 0.5) 0%, rgba(59, 76, 85, 0.5) 100%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
				text-fill-color: transparent;
			}
			&.active {
				@include media-max(991) {
					display: block;
				}
				a {
					color: #80C8E8;
					text-fill-color: #80C8E8FF;
					-webkit-text-fill-color: #80C8E8FF;
					@include media-max(991) {
						font-size: 35px;
						line-height: 150%;
						color: transparent;
						-webkit-text-stroke: 1px #67C1E8;
						text-stroke: 1px #67C1E8;
						text-fill-color: transparent;
						-webkit-text-fill-color: transparent;
						background: none;
					}
					@include media-max(575) {
						font-size: 24px;
						font-weight: 300;
					}
				}
			}
			&:not(:last-of-type) {
				margin-bottom: 20px;
			}
		}
	}
	&__advantages {
		padding: 0 20px;
		max-width: 43.26vw;
		width: 100%;
		position: relative;
		@include media-max(991) {
			max-width: none;
		}
		&-item {
			&:not(:last-of-type) {
				margin-bottom: 70px;
				@include media-max(575) {
					margin-bottom: 20px;
				}
			}
			& > span {
				position: relative;
				display: inline-flex;
				align-items: center;
				font-weight: 700;
				font-size: 24px;
				line-height: 150%;
				letter-spacing: 1.25px;
				text-transform: uppercase;
				margin-bottom: 12px;
				@include media-max(575) {
					font-size: 12px;
					font-weight: 300;
				}
				&::before {
					content: '';
					display: block;
					margin-right: 22px;
					width: 10px;
					height: 10px;
					background: linear-gradient(90deg, #08A9D8 0%, #231C4E 80%, #220E3F 100%);
					box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
					border-radius: 1px;
				}
			}
			& > p {
				font-weight: 500;
				font-size: 20px;
				line-height: 160%;
				@include media-max(575) {
					font-size: 12px;
					font-weight: 500;
				}
			}
			.list-numbers {
				li {
					width: calc(33.3333% - 20px);
					padding: 0 10px;
					margin-bottom: 30px;
					@include media-max(1440) {
						width: calc(50% - 20px);
					}
					span {
						font-weight: 700;
						font-size: 72px;
						line-height: 150%;
						letter-spacing: 1.25px;
						text-transform: uppercase;
						color: transparent;
						-webkit-text-stroke: 1px #67C1E8;
						text-stroke: 1px #67C1E8;
						@include media-max(575) {
							font-size: 64px;
						}
					}
					p {
						font-weight: 500;
						font-size: 12px;
						line-height: 150%;
						letter-spacing: 1.25px;
						text-transform: uppercase;
						@include media-max(1100) {
							font-size: 10px;
						}
					}
				}
			}
			.list-tags {
				margin: 0 -12px;
				li {
					margin: 12px;
					width: fit-content;
					background: #404143;
					padding: 5px;
					font-weight: 500;
					font-size: 20px;
					@include media-max(575) {
						font-size: 14px;
					}
				}
			}
		}
		&-picture {
			position: relative;
			margin-bottom: 12.50vw;
			&.picture1 {
				@include media-max(1920) {
					bottom: -10.42vw;
					left: -20.83vw;
				}
				@include media-max(991) {
					bottom: auto;
					left: auto;
					text-align: center;
				}
				img {
					width: 57.01vw;
					height: 43.26vw;
					max-width: 893px;
					max-height: 695px;
					@include media-max(1199) {
						height: 37.26vw;
						width: 51.01vw;
					}
					@include media-max(991) {
						height: 57.26vw;
						width: 73.01vw;
					}
				}
			}
			&.picture2 {
				@include media-max(1920) {
					bottom: -10.42vw;
					left: -20.83vw;
				}
				@include media-max(991) {
					bottom: auto;
					left: auto;
					text-align: center;
				}
				img {
					width: 73.47vw;
					height: 78.61vw;
					max-width: 1058px;
					max-height: 1132px;
				}
			}
			&.picture3 {
				@include media-max(1920) {
					bottom: -10.42vw;
					left: -20.83vw;
				}
				@include media-max(991) {
					bottom: auto;
					left: auto;
					text-align: center;
				}
				img {
					width: 55.35vw;
					height: 68.13vw;
					max-width: 797px;
					max-height: 981px;
				}
			}
			&.picture4 {
				@include media-max(1920) {
					bottom: -10.42vw;
					left: -20.83vw;
				}
				@include media-max(991) {
					bottom: auto;
					left: auto;
					text-align: center;
				}
				img {
					width: 59.86vw;
					height: 73.33vw;
					max-width: 1006px;
					max-height: 1200px;
					@include media-max(991) {
						width: 69.86vw;
						height: 83.33vw;
					}
				}
			}
			&.picture5 {
				@include media-max(1920) {
					bottom: -10.42vw;
					left: -20.83vw;
				}
				@include media-max(991) {
					bottom: auto;
					left: auto;
					text-align: center;
				}
				img {
					width: 70.90vw;
					height: 52.64vw;
					max-width: 1021px;
					max-height: 758px;
					@include media-max(1440) {
						width: 60.90vw;
						height: 42.64vw;
					}
					@include media-max(991) {
						width: 70.90vw;
						height: 52.64vw;
					}
				}
			}
			&.picture6 {
				@include media-max(1920) {
					bottom: -10.42vw;
					left: -20.83vw;
				}
				@include media-max(991) {
					bottom: auto;
					left: auto;
					text-align: center;
				}
				img {
					width: 62.75vw;
					height: 47.13vw;
					max-width: 990px;
					max-height: 765px;
					@include media-max(991) {
						width: 68.75vw;
						height: 53.13vw;
					}
				}
			}
			&.picture7 {
				@include media-max(1920) {
					bottom: -10.42vw;
					left: -20.83vw;
				}
				@include media-max(991) {
					bottom: auto;
					left: auto;
					text-align: center;
				}
				img {
					width: 67.65vw;
					height: 47.03vw;
					max-width: 1075px;
					max-height: 778px;
					@include media-max(991) {
						width: 74.65vw;
						height: 54.03vw;
					}
				}
			}
		}
	}
	&__name {
		text-align: center;
		font-weight: 500;
		font-size: 144px;
		line-height: 94%;
		letter-spacing: -0.75px;
		text-transform: uppercase;
		color: transparent;
		-webkit-text-stroke: 1px #67C1E8;
		text-stroke: 1px #67C1E8;
		writing-mode: vertical-rl;
		@include media-max(1199) {
			font-size: 106px;
		}
		@include media-max(991) {
			display: none;
		}
		span {
			background: linear-gradient(90deg, #08A9D8 0%, #231C4E 80%, #220E3F 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
			text-stroke: 0 transparent;
			-webkit-text-stroke: 0 transparent;
		}
	}
	&__personal {
		margin: 105px -20px 48px -20px;
		@include media-max(575) {
			margin: 20px -20px 20px -20px;
		}
		&-item {
			width: calc(50% - 40px);
			margin: 0 20px 20px 20px;
			@include media-max(991) {
				width: 100%;
			}
			& > div {
				&:first-of-type {
					position: relative;
					min-width: 233px;
					height: 179px;
					@include media-max(575) {
						min-width: 150px;
						height: 120px;
					}
					img {
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						object-fit: cover;
					}
				}
				&:last-of-type {
					margin-left: 40px;
					@include media-max(575) {
						margin-left: 20px;
					}
					span {
						font-weight: 700;
						font-size: 24px;
						line-height: 150%;
						letter-spacing: 1.25px;
						text-transform: uppercase;
						color: #67C1E8;
						@include media-max(575) {
							font-size: 14px;
						}
					}
					p {
						@include media-max(575) {
							font-size: 12px;
						}
					}
				}
			}
		}
	}
	&__services {
		&-banner {
			position: relative;
			width: 100%;
			padding: 58px 20px;
			margin: 0 auto;
			@include media-max(575) {
				padding: 20px;
			}
			& > img {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				object-fit: cover;
			}
			& > span {
				display: inline-flex;
				align-items: center;
				font-weight: 700;
				font-size: 24px;
				line-height: 150%;
				letter-spacing: 1.25px;
				text-transform: uppercase;
				z-index: 1;
				position: relative;
				max-width: 577px;
				width: 100%;
				@include media-max(991) {
					font-size: 20px;
				}
				@include media-max(575) {
					font-size: 14px;
					font-weight: 500;
				}
				&::before {
					content: '';
					margin-right: 22px;
					display: block;
					width: 10px;
					height: 10px;
					background: linear-gradient(90deg, #08A9D8 0%, #231C4E 80%, #220E3F 100%);
					box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
					border-radius: 1px;
				}
				&:not(:last-of-type) {
					margin-bottom: 70px;
					@include media-max(991) {
						margin-bottom: 50px;
					}
					@include media-max(575) {
						margin-bottom: 20px;
					}
				}
			}
		}
	}
}