.clients {
	&__container {
		& > div {
			flex-wrap: wrap;
			gap: 80px;
			a {
				img {
					width: 100%;
					max-width: 495px;
					object-fit: cover;
				}
			}
			@include media-max(767) {
				gap: 45px;
			}
		}
	}
}