.gallery {
	&__container {
		& > div {
			&:first-of-type {
				img {
					max-width: 320px;
					width: 100%;
				}
			}
			&:nth-of-type(2) {
				img	{
					max-width: 300px;
					width: 100%;
					height: 230px;
				}
			}
			&:last-of-type {
				img {
					max-width: 434px;
					width: 100%;
				}
			}
			img {
				object-fit: cover;
				height: 480px;
			}
		}
	}
}