.header {
	z-index: 3;
	position: fixed;
	width: 100%;
	top: 30px;
	left: 50%;
	transform: translate(-50%);
	transition: top, background .4s linear;
	&.top {
		padding: 0 60px;
		width: calc(100% - 120px);
		background: #1e1e20;
		position: fixed;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		.container {
			padding: 0;
		}
	}
	&__logo {
		margin-left: -19px;
	}
	&__nav {
		gap: 11px;
		li {
			a {
				span {
					text-transform: uppercase;
				}
				img {
					margin-left: 6px;
				}
			}
		}
	}
}