.header {
	z-index: 3;
	position: fixed;
	width: 100%;
	top: 30px;
	left: 50%;
	transform: translate(-50%);
	&__logo {
		margin-left: -19px;
	}
	&__nav {
		gap: 11px;
		li {
			a {
				span {
					text-transform: uppercase;
				}
				img {
					margin-left: 6px;
				}
			}
		}
		&-link {
			text-transform: uppercase;
			&::after {
				position: relative;
				content: '';
				margin-left: 4px;
				width: 16px;
				height: 16px;
				background: red;
				background: url("../images/dist/icons/down-arrow.svg") no-repeat 50% 50%;
				display: inline-block;
				transition: .2s linear;
			}
			&.show {
				&::after {
					transform: rotate(-180deg);
				}
			}
		}
	}
}