.main {
	margin: 0 auto;
	position: relative;
	&::before {
		content: '';
		position: absolute;
		left: 60px;
		top: 0;
		height: 100%;
		width: 1px;
		background: #67c1e8;
		z-index: 4;
		@include media-max(991) {
			display: none;
		}
	}
	&::after {
		content: '';
		position: absolute;
		right: 60px;
		top: 0;
		height: 100%;
		width: 1px;
		background: #67c1e8;
		z-index: 4;
		@include media-max(991) {
			display: none;
		}
	}
}