.reviews {
	.container {
		padding-bottom: 4.86vw;
	}
	&__picture {
		position: relative;
		width: 40.49vw;
		height: 28.19vw;
		@include media-max(991) {
			width: 98vw;
			height: 53vw;
		}
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
	&__info {
		width: 38.13vw;
		@include media-max(991) {
			width: auto;
			text-align: center;
			margin-top: 2.02vw;
		}
	}
	&__author {
		margin-top: 50px;
		color: #67C1E8;
		@include media-max(991) {
			margin-top: 12px;
		}
		b {
			font-weight: 700;
			font-size: 24px;
			line-height: 150%;
			letter-spacing: 1.25px;
			text-transform: uppercase;
			@include media-max(575) {
				font-size: 18px;
			}
		}
		span {
			font-size: 20px;
			@include media-max(575) {
				font-size: 12px;
			}
		}
	}
}