.section {
	padding: 30px 0;
	position: relative;
	&::before {
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		background: #67c1e8;
		top: 0;
		left: 0;
		@include media-max(991) {
			display: none;
		}
	}
	&::after {
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		background: #67c1e8;
		bottom: 0;
		left: 0;
		@include media-max(991) {
			display: none;
		}
	}
	&.exclusion {
		z-index: auto;
	}
	&__container {
		padding: 0;
		& > div {
			width: fit-content;
		}
	}
	&__counter {
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		left: 28px;
		z-index: -1;
		span {
			font-family: Oswald, sans-serif;
			font-size: 16px;
			line-height: 24px;
			width: fit-content;
			&:first-of-type {
				color: #67C1E8;
			}
		}
		b {
			height: 2px;
			background: #FFFFFF;
			width: 16px;
		}
		@include media-max(991) {
			display: none;
		}
	}
	&.black {
		background: #000000;
		z-index: 1;
	}
	@include media-max(991) {
		padding: 0;
	}
}