.socials {
	z-index: 2;
	position: fixed;
	top: 50%;
	right: 28px;
	transform: translate(50%, -50%);
	ul {
		gap: 40px;
		li {
			width: 16px;
			height: 16px;
			a {
				display: inline-block;
				width: 16px;
				height: 16px;
			}
		}
	}
	@include media-max(991) {
		display: none;
	}
}