.mb {
	&-40 {
		margin-bottom: 40px;
	}
	&-50 {
		margin-bottom: 50px;
	}
	&-60 {
		margin-bottom: 60px;
	}
	&-80 {
		margin-bottom: 80px;
	}
	&-95 {
		margin-bottom: 95px;
	}
}

.mt {
	&-30 {
		margin-top: 30px;
	}
}

.mr {
	&-24 {
		margin-right: 24px;
	}
}