.mb {
	&-30 {
		margin-bottom: 30px;
	}
	&-40 {
		margin-bottom: 40px;
	}
	&-50 {
		margin-bottom: 50px;
		@include media-max(767) {
			margin-bottom: 20px;
		}
	}
	&-60 {
		margin-bottom: 60px;
	}
	&-80 {
		margin-bottom: 80px;
	}
	&-95 {
		margin-bottom: 95px;
	}
	&-340 {
		margin-bottom: 340px;
		@include media-max(767) {
			margin-bottom: 100px;
		}
	}
}

.mt {
	&-30 {
		margin-top: 30px;
	}
	&-50 {
		margin-top: 50px;
	}
}

.mr {
	&-24 {
		margin-right: 24px;
	}
}